<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}} - {{blogTitle}}</title>
        <link rel="stylesheet" href="assets/jimple.css">
    </head>
    <body class="layout-{{menuPosition}}">
        <header>
            <h1 class="blog-title">{{blogTitle}}</h1>
        </header>

        <div class="container">
            <nav class="main-menu">
                {{mainMenu}}
            </nav>

            <main class="content">
                <article>
                    <header>
                        <div class="post-info">
                            <div></div>
                            {{#showDate}}
                            <div class="article-date">{{date}}</div>
                            {{/showDate}}
                        </div>
                        <h1 class="article-title">{{title}}</h1>
                    </header>
                    {{content}}
                </article>
            </main>

            <aside class="profile-section">
                {{profile}}
            </aside>
        </div>

        <footer>
            <p>{{footerText}}</p>
        </footer>
    </body>
</html>